
.navbar {
    text-align: center;
}

.sections {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sections a {
    float: left;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;

}

.sections a:hover {
    color: rgb(0, 190, 199);
}

.sections a:last-child {
    margin-right: -130px;
}

.sections img {
    width: 100px;
    margin-right: 30px;
    float: right;
    margin-top: -9px;
    margin-bottom: 10px;
}

.menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    .sections a {
        display: none;
    }

    .menu {
        display: block;
        float: left;
        margin-left: 20px;
    }

    .menu:hover {
        color: rgb(0, 190, 199);
    }
}
