.describtion-card {
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 32%;
    height: 600px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
    overflow: hidden;
    float: left;
    margin-bottom: 30px;
}

.describtion-card p {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-weight: 600;
    color: rgb(0, 190, 199);
}