<div class="profiles">
    <div class="profile">
        <img src="../../../assets/IMG_8003.jpeg" alt="Profile Picture Moritz">
        <p>Moritz Reufsteck</p>
    </div>
    <div class="profile">
        <img src="../../../assets/7f6c79a7-d319-43c5-8373-6b23564129f9.jpg" alt="Profile Picture Steven">
        <p>Steven Hartinger</p>
    </div>
    <div class="profile">
        <img src="../../../assets/IMG_1217.jpeg" alt="Profile Picture David">
        <p>David Kneller</p>
    </div>
    <div class="profile">
        <img src="../../../assets/bbc54195-b5c5-431d-a16b-5fcc8de44915.jpg" alt="Profile Picture Luka">
        <p>Luka Tsipitsoudis</p>
    </div>
</div>