<div class="profiles">
    <div class="profile">
        <a href="https://www.linkedin.com/in/moritz-reufsteck-37a046153/" target="_blank">
            <img src="../../../assets/IMG_8003.jpeg" alt="Profile Picture Moritz">
        </a>
        <p>Moritz Reufsteck</p>
    </div>
    <div class="profile">
        <a href="https://www.linkedin.com/in/steven-hartinger-22b9a11ba/" target="_blank">
            <img src="../../../assets/7f6c79a7-d319-43c5-8373-6b23564129f9.jpg" alt="Profile Picture Steven"></a>
        <p>Steven Hartinger</p>
    </div>
    <div class="profile">
        <a href="https://www.linkedin.com/in/david-kneller-49baa21b7/" target="_blank">
            <img src="../../../assets/IMG_1217.jpeg" alt="Profile Picture David"></a>
        <p>David Kneller</p>
    </div>
    <div class="profile">
        <a href="https://www.linkedin.com/in/luka-tsipitsoudis-3b34321b8/" target="_blank">
            <img src="../../../assets/bbc54195-b5c5-431d-a16b-5fcc8de44915.jpg" alt="Profile Picture Luka">
        </a>
        <p>Luka Tsipitsoudis</p>
    </div>
</div>