<app-navbar></app-navbar>
<div class="title-wrapper">
    <p class="title">ÜBERSICHT.</p>
</div>
<div class="overview">
    <app-logo-card class="mobile"></app-logo-card>
    <app-describition-card></app-describition-card>
    <app-logo-card class="desktop"></app-logo-card>
    <app-describition-card class="desktop"></app-describition-card>
</div>
<div class="title-wrapper">
    <p class="title">UNSERE LEISTUNGEN.</p>
</div>
<div class="services">
    <app-services></app-services>
</div>
<div class="title-wrapper">
    <p class="title">UNSER TEAM.</p>
</div>
<div class="team">
    <app-profile></app-profile>
</div>